.App {
    text-align: center;
    background-color: #91bbc4;
  }

.App-nav {
    padding: 5px;
}

.navItem {
    padding: 10px;
    color: #173437;
}

.searched-books {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    transition: all 0.3s ease;
}

img:hover{
  transform: scale(1.1);  
}

.book-card {
   text-align: center; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 20px, 0;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
}

.favorites {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px, 0;
 }